[Unit]
Description=beanwatch: user_beancounters logger extraordinaire

[Service]
ExecStart=/usr/local/bin/beanwatch
Restart=always

[Install]
WantedBy=multi-user.target
